.root {
  width: 100vw;
  display: flex;
  align-items: center;
}

.background {
  width: 50%;
  min-width: 440px;

  img {
    width: 100%;
    height: 100%;
  }
}

.infoBody {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;

  .infoBodyWrapper {
    max-width: 440px;
    padding: 0 1rem;
    margin-right: 70px;
  }

  .infoHeader {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000;
    margin-bottom: 1rem;
  }

  .infoDescription {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000;

    div {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 1150px) {
  .infoBody {
    .infoBodyWrapper {
      max-width: none;
      padding: 0;
      padding-left: 38px;
      margin: 0;
    }
  }
}

@media (max-width: 956px) {
  .infoBody {
    .infoBodyWrapper {
      margin: 0;
    }
  }
}

@media (max-width: 744px) {
  .background {
    width: 503px;
  }

  .infoBody {
    .infoBodyWrapper {
      padding: 0;
      padding-left: 38px;
      .infoHeader {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 4px;
      }

      .infoDescription {
        font-size: 12px;
        line-height: 19px;
        div {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.iconMini {
  display: none;
  width: 100%;
  min-width: 364px;
  height: 340px;
  max-width: 50%;
  img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 956px) {
  .root {
    margin-bottom: 50px;
  }
}

@media (max-width: 640px) {
  .root {
    margin: 40px 0;
  }

  .infoBody {
    width: 100%;
    flex-direction: column-reverse;
    // padding: 0 23px;

    .infoBodyWrapper {
      max-width: 100%;
      padding: 0 23px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .background {
    display: none;
  }

  .iconMini {
    display: block;
    position: relative;

    .iconNotebook {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 2;
    }
  }
}
