.swiper {
  background: white;
}

.swiper-pagination-bullet {
  border: 1px solid #fd9b28;
  background: transparent;
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background: #fd9b28;
}
