.MuiFormHelperText-root {
  position: absolute;
  bottom: -20px;
  left: -10px;
}

.MuiInputBase-root {
  border-radius: 20px !important;
  height: 50px;
  font-size: 14px;
}

.MuiFormLabel-root-MuiInputLabel-root {
  top: -3px;
}

.MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: red !important;
}

.MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: green !important;
}

.react-tel-input .form-control {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 20px;
  overflow: hidden;
  // background: transparent;
}

.react-tel-input .flag-dropdown {
  // background: transparent !important;
  border-radius: 20px 0 0 20px;
  border: none;
  border-right: 1px solid #c4c4c4;
}
.react-tel-input .selected-flag {
  border-radius: 20px 0 0 20px !important;
  width: 55px;
  transition: all 0.2s ease-in-out;
}

.flag-dropdown.open {
  border-radius: 20px 0 0 20px !important;
}

.react-tel-input {
  border-radius: 20px;
}

.react-tel-input .selected-flag .arrow {
  left: 30px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #555;
  // border-radius: 4px 4px 0px 6px;
}

.react-tel-input .selected-flag .arrow.up {
  border-radius: 0;
}

.react-tel-input .form-control {
  padding-left: 70px;
  font-size: 14px;
  // z-index: 10;
}
